/* General Styles */
.beer-detail-picture {
  max-width: 350px;
  height: auto;
  border-radius: 5%;
}

.brewery-beer-details-picture {
  max-width: 300px;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 992px) {
  /* Medium devices (tablets) */
  .beer-detail-picture {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  /* Small devices (phones) */
  .beer-detail-picture {
    max-width: 250px;
  }
}

@media (max-width: 576px) {
  /* Extra small devices (phones) */
  .beer-detail-picture {
    max-width: 200px;
  }
}

.beer-details-BJCP-style,
.beer-details-ABV,
.beer-details-IBUs,
.beer-details-rating {
  border-bottom: 1px solid black;
}

.btn-primary {
  background-color: #002647;
}

.review-card {
  border-bottom: 1px solid gray;
}

.beer-details-user-picture {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
  padding: 0;
}
.options-review-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray; /* Set the icon color */
  font-size: 20px; /* Adjust the icon size */
  padding: 5px;
}
