.beer-cards-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.beer-card {
  width: 100%; /* This means take up 100% of the column, not the entire screen */
  max-width: 300px; /* Ensures it doesn't exceed the column's width */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.15);
}

.beer-card:hover {
  transform: scale(1.02);
}

.beer-picture {
  width: 100%; /* Ensures the image scales with the card */
  max-height: 350px; /* Allows the height to adjust based on the width, maintaining aspect ratio */
  object-fit: contain; /* Crops the image to fit within the max-height, preserving the aspect ratio */
  margin: 10px auto; /* Centers the image within the card */
  display: block;
}

.beer-name {
  margin: 8px 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(245, 201, 57, 255);
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  max-width: 90%;
}

.beer-brewery {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin: 8px 8px;
  color: rgba(231, 162, 6, 255);
}

.beer-style,
.beer-IBUs,
.beer-abv,
.beer-rating {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 8px;
  color: white;
  border-bottom: 1px solid white;
  max-width: 90%;
}

/* .add-to-basket {
  display: block;
  width: 90%;
  margin: 16px 8px;
  padding: 10px;
  background-color: rgba(231, 162, 6, 255);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* .add-to-basket:hover {
  background-color: #e65c00;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.add-to-basket {
  border: 2px solid transparent;
  color: rgba(231, 162, 6, 255);
  outline: 2px solid rgba(231, 162, 6, 255);
  outline-offset: 0px;
  text-shadow: none;
  padding: 0.2rem 0.6rem;
  width: 60%;
  margin: 16px 8px;
  margin-left: 50px;
  padding: 0.1rem 0.2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo al pasar el cursor sobre el botón */
.add-to-basket:hover {
  border: 2px solid #e65c00;
  color: #e65c00;
  box-shadow: inset 0 0 20px #e65c00, 0 0 20px #e65c00;
  outline-color: #e65c00;
  outline-offset: 13px;
  text-shadow: 1px 1px 1px #e65c00;
  transform: scale(0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.beer-card-text {
  margin-top: auto;
}
