/* Contenedor general del formulario */
.form-container {
  background: #f8f9fa;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
  margin-bottom: 8rem;
}

/* Estilo para el encabezado dentro del contenedor del formulario */
.form-container h2 {
  color: #343a40;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Estilo para las etiquetas de los formularios */
.form-container .form-label {
  font-weight: bold;
  color: #495057;
}

/* Estilo para los campos de entrada del formulario */
.form-container .form-control {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-shadow: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Estilo para los campos de entrada cuando están en foco */
.form-container .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

/* Estilo para el botón de ingresar */
.enter {
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid #318aac;
  border-radius: 8px;
  transition: all 0.3s ease;
  position: relative;
  width: 150px;
  cursor: pointer;
}

/* Efecto al pasar el cursor sobre el botón de ingresar */
.enter:hover {
  background: rgba(0, 0, 0, 0);
  color: #318aac !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

/* Efecto al hacer clic en el botón de ingresar */
.enter:active {
  transform: scale(0.95) translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para el campo de entrada de archivos */
m-container input[type="file"] {
  border: none;
  padding: 0.5rem;
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  /* Estilo para el contenedor del formulario en pantallas pequeñas */
  .form-container {
    padding: 1rem;
  }

  /* Estilo para las filas del formulario en pantallas pequeñas */
  .form-container .row {
    flex-direction: column;
  }

  /* Estilo para las columnas en pantallas pequeñas */
  .form-container .col-md-6 {
    width: 100%;
    margin-bottom: 1rem;
  }

  /* Estilo para los controles de formulario y áreas de texto en pantallas pequeñas */
  .form-container .form-control,
  .form-container textarea {
    width: 100%;
    box-sizing: border-box;
  }

  /* Estilo para los selectores del formulario en pantallas pequeñas */
  .form-container .form-select {
    box-sizing: border-box;
  }
}
