.carousel-container {
  padding-top: 160px;
  width: 80%; /* Adjust the width of the carousel as needed */
  max-height: 200px; /* Set the height of the carousel to 500px */
  margin: 0 auto; /* Center the carousel horizontally */
  position: relative; /* Ensure positioning context for controls */
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%; /* Adjust the width of the controls */
  height: 20%; /* Adjust the height of the controls */
  position: absolute; /* Position the controls over the carousel */
  top: 50%; /* Center the controls vertically in the carousel */
  transform: translateY(-50%); /* Adjust vertical positioning */
  display: flex;
  align-items: center; /* Center the icon vertically within the control */
  justify-content: center; /* Center the icon horizontally within the control */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for controls */
  z-index: 1000; /* Ensure the controls are above the carousel */
}

.carousel-control-prev {
  left: 0; /* Position the "prev" control to the left */
}

.carousel-control-next {
  right: 0; /* Position the "next" control to the right */
}

.carousel-indicators {
  bottom: 10px; /* Adjust the vertical position of the indicators */
}

.carousel-indicators button {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Background color for indicators */
}

.carousel-indicators .active {
  background-color: #fff; /* Background color for the active indicator */
}

body {
  background-color: rgba(1, 60, 76, 255);
}
