.navbar {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  background-color: rgba(255, 255, 255);
  font-family: "Azo Sans", sans-serif;
}

.beer-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  /* Adjustments for small screens */
  .beer-image {
    width: 90px;
    height: 90px;
    margin-left: 9rem;
  }
}

/* Change color of "Estilos" and "Cervecerías" links */
.navbar-nav .nav-link {
  color: rgba(35, 21, 16, 1) !important; /* Replace with your desired color */
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: rgba(231, 162, 6, 255) !important; /* Optional: Add a hover color */
  font-weight: bold;
}

/* Change color of "Sobre Nosotros" link */

.search {
  height: 40px;
}

.menu {
  background: rgb(245, 207, 70, 255);
}

.navbar-toggler {
  position: relative;
  background-color: white;
  border: none !important;
}
