body {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  min-height: 100vh;
  background-color: rgba(237, 161, 15, 255);

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://www.alestilojalisco.com.mx/storage/articulos/salud-llega-la-ruta-de-la-cerveza-20220503171022.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(3px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 138px;
  z-index: 1000;
  background: rgba(35, 21, 16, 0.893);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-family: "Azo Sans", sans-serif;
}

/* Ensure the BEER image stays centered and within the navbar */
.beer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.beer-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .beer-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Adjustments for small screens */
  .beer-image {
    width: 80px;
    height: 80px;
  }

  /* Ensure the navbar height accommodates the BEER image */
}

/* Change color of "Estilos" and "Cervecerías" links */
.navbar-nav .nav-link {
  color: rgba(35, 21, 16, 1); /* Replace with your desired color */
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: rgba(231, 162, 6, 255); /* Optional: Add a hover color */
  font-weight: bold;
}

/* Change color of "Sobre Nosotros" link */
.navbar-nav .nav-link.text-dark {
  color: rgba(191, 94, 1, 255); /* Replace with your desired color */
  font-weight: bold;
}

.navbar-nav .nav-link.text-dark:hover {
  color: rgba(231, 162, 6, 255); /* Optional: Add a hover color */
  font-weight: bold;
}

.search {
  width: 150px;
}

.menu {
  background: rgb(245, 207, 70, 255);
}
