body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body::login {
  content: "";
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://www.alestilojalisco.com.mx/storage/articulos/salud-llega-la-ruta-de-la-cerveza-20220503171022.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.formulario-login {
  margin-top: 80px;
  background: rgba(255, 191, 0, 0.65);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(254, 254, 254, 0.978);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(254, 254, 254, 0.978);
  color: white;
  height: auto;
}
.formulario-login form h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 200px 0 20px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  border-bottom: 2px solid;
  color: #3e2723;
}
.registro {
  color: #3e2723 !important;
}
.avatar {
  width: 150px;
  height: 150px;
  background-color: whitesmoke;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: calc(43% - 45px);
}

.usuario {
  margin-top: 15%;
}
.pass {
  margin-top: 40px;
}

.registro {
  color: #3e2723;
}
label {
  color: #3e2723;
}
strong {
  color: #3e2723;
}
.entrar {
  color: #fff !important;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  transition: all 0.3s ease;
  position: relative;
  width: 150px;
}
.entrar:hover {
  background: rgba(0, 0, 0, 0);
  color: #318aac !important;
}
.entrar:active {
  transform: scale(
    0.95
  ); /* Reduce ligeramente el tamaño del botón cuando se hace clic */
}
