.review-modal {
  display: block;
  z-index: 1050;
}

.modal-dialog {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-block-end: 5px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(5px);
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
}
.modal-backdrop {
  z-index: 1040; /* Ensure the backdrop is behind the modal */
}

.review-modal-button {
  background: #318aac !important;
  border: 2px solid #318aac !important;
  cursor: pointer;
  padding: 5px !important;
}

/* Modal Header */
.modal-header {
  background: rgba(0, 38, 71, 0.89); /* Color de fondo del encabezado */
  color: #fff; /* Color del texto */
  border-bottom: 1px solid #e9ecef; /* Línea sutil debajo del encabezado */
}

.modal-header .modal-title {
  font-size: 1.5rem; /* Tamaño del texto del título */
  font-weight: bold; /* Texto en negrita */
}
