/* Asegura que el formulario y el contenedor de resultados estén relacionados */
.d-flex {
  position: relative;
}

.search-results {
  top: 98%;
  left: 0;
  width: 97%;
  background-color: rgba(245, 207, 70, 1);
  border: 1px solid #ccc;
  z-index: 1000;
}

.search-results li {
  padding: 5px;
  cursor: pointer;
  background-color: rgba(245, 207, 70, 1);
}

.search-results li:hover {
  background-color: rgba(231, 162, 6, 0.2);
}

.search-results a {
  text-decoration: none;
  color: inherit;
}
.fa-xs-custom {
  font-size: 14px;
}